.product {
  margin: 10px;
}

.product__text {
  font-size: 1.2vw;
  line-height: 5px;
}

.product__image {
  height: 37vw;
  width: 32vw;
}

.product__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
