.product-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.product-page__card-body {
  display: flex;
  flex-direction: column;
  width: 270px;
  height: 270px;
}

.product-page__card-title {
  margin-bottom: 50px;
}

.product-page__card-text {
  margin-bottom: 70px;
}

.product-page__image {
  width: 450px;
}

.btn {
  margin-bottom: 10px;
}

.product-page__description {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.product-page__buttons {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
