.product-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.product-page__header {
  position: relative;
  left: 33vw;
}

.product-page__header-button {
  font-size: 2vw;
}

.product-page__card-body {
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: 25vw;
}

.product-page__card-title {
  margin-bottom: 50px;
  font-size: 3vw;
}

.product-page__card-text {
  margin-bottom: 70px;
  font-size: 2vw;
}

.product-page__image {
  width: 50vw;
  margin: 20px;
  border: 0px solid;
  border-radius: 10px;
}

.btn {
  margin-bottom: 10px;
}

.product-page__description {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.product-page__buttons {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 19vw;
  height: 5vw;
}

.product-page__button {
  font-size: 2vw;
}
