.saved-product__card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.saved-product__close-button {
  display: flex;
  align-self: flex-end;
  margin: 10px;
}
