.in-bag-product {
  margin: 10px;
}

.in-bag-product__card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.in-bag-product__close-button {
  display: flex;
  align-self: flex-end;
  margin: 10px;
}

.in-bag-product__title {
  font-size: 2vw;
}

.in-bag-product__text {
  font-size: 1.2vw;
  line-height: 1.4vw;
}
